html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  color: #170a1c;
  font-family: "mincho";
  background-color: #ffde3c;
}

b {
  font-weight: bold;
  color: #1ea2f4;
}

a {
  font-weight: bold;
  color: #f41e62;
}

a:hover {
  font-weight: bold;
  color: #f06b95;
}

img {
  margin: auto;
  max-height: 150px;
}

h1 {
  font-size: 50px;
  text-align: left;
  font-family: "goth";
  letter-spacing: 1px;
  text-align: left;
  padding-top: 10px;
}

h2 {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  font-family: arial;
  color: #ffde3c;
  letter-spacing: 2px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
  margin-bottom: 20px;
  border-bottom: 8px solid #1ea2f4;
  border-top: 8px solid #1ea2f4;
  background-color: #000000;
}

h3 {
  font-size: 14px;
  text-align: left;
  font-weight: bold;
  color: #f41e62;
}

li {
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 95%;
  margin: auto;
}

button {
  background-color: #ffde3c;
  color: #f06b95;
  border: 2px solid black;
  border-radius: 40px;
  font-weight: bold;
  padding: 8px;
}

/* DIV FORMATTING */

.tag {
  position: absolute;
  font-family: arial;
  font-weight: 900;
  text-align: center;
  font-size: 40px;
  letter-spacing: 4px;
  top: 1px;
  left: 25px;
  color: black;
  text-underline-offset: 5px;
}

.tag p {
  line-height: 0px;
  padding: 0px;
}

.inside {
  overflow-y: auto;
  width: 100%;
  height: 370px;
  margin: auto;
  padding-bottom: 20px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
  text-align: justify;
}

.inside::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.bgSphere {
  font-family: "spheres";
  font-size: 500px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: #f41e62;
  z-index: -1;
}

/* CAROUSEL MECHANICS */

.carousel {
  position: relative;
}

.carousel__item {
  width: 800px;
  max-width: 80%;
  height: 500px;
  margin: auto;
  background: #e8e9ebf2;
  padding: 20px;
  display: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.carousel__item--selected {
  display: block;
}

.carousel__nav {
  width: 100%;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__button {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: #6c6c6c;
  border-radius: 50%;
  margin: -5px 5px;
  cursor: pointer;
  position: relative;
}

.carousel__button--selected {
  background: #1ea2f4;
}

/* MUSIC GRID */

.musicGridParent {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 5px;
  max-width: 100%;
}

.musicGridChild {
  text-align: center;
  height: auto;
  text-decoration: none;
  line-height: 0px;
}

.musicGridChild img {
  width: 100%;
}

.musicGridChild img:hover {
  -webkit-filter: invert(100%) !important;
  filter: invert(100%) !important;
}

/* FONTS */

@font-face {
  font-family: "mincho";
  src: url("fonts/ShipporiMincho-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "spheres";
  src: url("fonts/52Sphereoids-zyqL.ttf") format("truetype");
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1100px) {
  .tag {
    position: inherit;
  }
}

@media only screen and (max-width: 600px) {
  .tag {
    position: inherit;
  }

  .bgSphere {
    font-size: 300px;
  }
}
